$main-color: #8a74f9;
$main-color-light: #8a74f91a;
$main-color-dark: #6d5ace;
$gray-color-light: #e9eaea;
$gray-color-dark: #e7eaed;
$main-text-color: #1c1c28;
$secondary-text-color: #92a1ad;
$table-col-name-color: #abaab1;
$background-gray: #f3f5f7;
