/* You can add global styles to this file, and also import other style files */
body {
  direction: rtl;
  font-family: "Noto Sans Arabic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Override Bootstrap Colors
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary": #8a74f9,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
@import '../node_modules/bootstrap/scss/bootstrap.scss';
